
/* BLUE:    #1C3879
CANELA: #EAE3D2; */

body {
    margin: 0;
    padding: 0;
    background-color: #1C3879;
}



.section-content-container{
    width: 100%;
    padding: 2rem 1.7rem;
}

ul li{
    list-style: none;
}

.course-container a, .hospitality-container-wraper a{
    color: #1C3879;
}


.course-container-wraper{
    border-left: solid 2px #E6CBA8;
 }
 
 .hospitality-container-wraper{
     border-right: solid 2px #E6CBA8;
     padding-right: 20px;
  }
 
 
 .course-container ul li{
     line-height: 1.3rem;
 }
 

@media (min-width: 320px) {

    .main-wrapper{
        width: 100%;
        margin: 0 auto;
        min-height: 100%;
    }

    .social-wraper{
        width: 100%;
        margin: 7% auto auto;
        min-height: 100%;
    }

    .social-container{
        display: flex;
        margin: 0 auto;
        flex-direction: row;
        width: 50%;
        min-width: 10rem;
        max-width: 13rem;
        justify-content: space-evenly;
    }

    .social-container > i, .heading-wraper *{
        color: #EAE3D2;
    }


    /*********** HEADING *************/

    .heading-wraper{
        width: 100%;
        margin: 0 auto;
        justify-content: center;
    }

    .heading-container {
        max-width: 15em;
        margin: 5em auto 2em;
        text-align: left;
        font-family: 'Sarabun', sans-serif;
        font-weight: 300;
    }

    .heading-container > p{
        font-size: 2.3rem;
        margin: 3px;
    }
    
    .line2-heading{
        padding-left: 1.7rem;
        margin-bottom: 0px;
    }
    
    .profesion{
        font-family: 'Sarabun', sans-serif;
        font-weight: 600;
        font-size: 1rem;
        margin-top: 5px;
        margin-bottom: 3px;
        margin-left: 1.6rem;
    }
    
    .junior{
        font-weight: 300;
    }

    .subject{
        font-family: 'Sarabun', sans-serif;
        font-size: 0.700rem;
        margin-top: 0px;
        margin-left: 8.2rem;
    }

    .separator{
     position: relative;
     margin-top: 0;
     left:80px;
      height: 1px;
      width: 8rem;
      background-color: #EAE3D2;
    }

    /******** QUOTE SECTION **********/

    .quote-wraper{
        width: 100%;
        margin: 0 auto;
    }
    
    .quote-container{
        margin: 0 auto 2rem;
        max-width: 15em;
        max-height: 100px;
        text-align: center;
        color: #EAE3D2;
    }

    .quote-container > h2{
        font-family: 'Fasthand', cursive;
        font-size: 1rem;
        font-weight: 300;
    }

    /********** NAVIATION BAR **********/

    /* .sections-wraper{
        width: 100%;
        margin: 100% auto 0;

        position: absolute;
        bottom: 0;
        left: 0;
    } */

    .main-navbar-wraper{
        width: 100%;
        padding: 0;
        margin: 100% auto 0;
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .navbar-container{
        display: flex;
        flex-direction: row;
        padding: 3px 3px 0;
        width: 100%;
        margin: 0 auto;
        justify-content: space-evenly;
    }
    
    .navbar-item-box{
       width: 32%;
       height: 1.7rem;
       text-align: center;
       border-top: solid 1px #EAE3D2;
       border-right: solid 1px #EAE3D2;
       border-left: solid 1px #EAE3D2;
    }

    .navbar-item-box > p{
        padding: 4px;
        font-size: 0.750em;
        color: #EAE3D2;
    }

    
    /********** NAVBAR SECTIONS *******/
    .secondary-navbar-wraper{
        position: relative;
        width: 100%;
        padding: 0;
        margin: 0 auto 3rem;
    }
    
    .secondary-navbar-wraper .navbar-item-box{
        width: 32%;
        height: 1.7rem;
        text-align: center;
        border-bottom: solid 1px #1C3879;
        border-right: solid 1px #1C3879;
        border-left: solid 1px #1C3879;
     }

     .secondary-navbar-wraper .navbar-container{
        padding-top: 0;
        padding-bottom: 3px;
     }

     .secondary-navbar-wraper .navbar-item-box > p{
        padding: 4px;
        font-size: 0.750em;
        color: #1C3879;
    }

    /*********** ME SECTION ***********/

    .section-wraper{
        position: relative;
        width: 100%;
        margin: 0 auto;
        background-color: #a3a3a3;
    }
    
    .section-container{
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        min-height: 100vh;
        background-color: #EAE3D2;
    }

    /* .me-container{
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        min-height: 100vh;
        background-color: #EAE3D2;
    } */

    .me-container > .section-content-container{
        margin: 0 auto;
        letter-spacing: 1px;
        text-align: left;
        font-family: 'Sarabun', sans-serif;
        font-weight: 600;
        color: #1C3879;
        max-width: 470px;

    }

    .me-container > .section-content-container p{
        letter-spacing: 1px;
        font-family: 'Sarabun', sans-serif;
        font-weight: 600;
        color: #1C3879;
    }

    .me-container > .section-content-container h6{
        text-align: center;
        font-style: italic;
        margin: 3.2rem 1.8rem 2rem;
        letter-spacing: 1px;
        font-family: 'Sarabun', sans-serif;
        font-weight: 800;
        color: #1C3879;
    }
    

    /********* HOBBIES ****/

    .hobbies-title-container{
        max-width: 470px;
        margin: 3rem auto auto;
        padding-left: 1.4rem;
    }

    .hobbies-title{
        color: #1C3879;  
        margin-bottom: 3rem;
    }
 
    .hobbies-container {
        color: #1C3879;  
    }

 .hobbies-container .row {
    margin-bottom: 2rem;
 }

 #new-hobbie{
    font-size: 0.700rem;
 }

 .hobbies-container .row .personality-quote{
    font-style: italic;
    text-align: center;
    letter-spacing: 1px;
    font-family: 'Sarabun', sans-serif;
    font-weight: 800;
    color: #1C3879;
}


/************ PROJECTS SECTION */

.projects-container .row{
    margin: 0 auto ;

}
.project-card{
    max-width: 410px;
    margin-bottom: 2rem;    
}

.project-img{
    height: 150px;
    max-width: 215px;
    background-color: blueviolet;

}

.project-tech{
   max-width: 108px;
    background-color: brown;
}

/******  BACKGROUND SECTION */

.background-container{
    max-width: 410px;
    color: #1C3879;

}

.course-container{
    margin: 2.5rem auto 2.5rem;
    padding-right: 0;
    font-family: 'Sarabun', sans-serif;
    font-weight: 600;
}

.course-container ul li{
    line-height: 1.3rem;
    font-size: 0.950rem;
}

.hospitality-container-wraper{
    border-right: solid 2px #E6CBA8;
    padding-right: 10px;
 }

.hospitality-container-wraper > p{
    font-size: 0.950rem;
    font-family: 'Sarabun', sans-serif;
    font-weight: 600;
    line-height: 1.4rem;
}

ul{
    padding-left: 7px;
}

.dots{}

.dot{
    width: 3px;
    height: 3px;
    margin: auto 3px;
    background-color: #a3a3a3;
}


/********* CONTACT SECTION ***/

.contact-wraper{
    margin: 0 auto;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #E6CBA8;

}

.contact-container{
max-width: 410px;
padding: 3rem 1.5rem;
min-height: 100vh;
}

.contact-container h3{
    text-align: center;
    /* color: #fefefe; */
    /* color: rgb(255, 255, 255); */
    color: #f1f1f1;

    font-family: 'Sarabun', sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 2px;
}

#contact-form{
    display: flex;
    flex-direction: column;
}

#contact-form .form-control{
    background-color: inherit;
    border-color: #1C3879;
    margin-bottom: 0.7rem;
    font-size: 0.950rem;
    letter-spacing: 1px;
    font-weight: 400;
    color: #1C3879;
    box-shadow: none;
}

#contact-form .form-control:focus{
    border: solid 2px;
}

.form-control::placeholder{
    font-size: 0.900rem;
    letter-spacing: 2px;
    font-style: italic;
    /* color:#c6c6c6; */
    color: rgb(254, 234, 234);

}

#contact-form button{
    background-color: #001253;
    /* background-color: #1C3879; */
    border-color: #001253;
    /* color: rgb(255, 255, 255); */
    color: #f1f1f1;;
}

#contact-form button:hover{
    background-color: #f1f1f1;
    border-color: #fcfcfc;
    /* background-color: #1C3879; */
    color: #001253;
    font-weight: 600;
}

}

@media (min-width: 600px) {

    
    .main-wrapper{
        width: 100%;
        margin: 0 auto;
        min-height: 100%;
    }

    .social-wraper{
        width: 100%;
        margin: 7% auto auto;
        min-height: 100%;
    }

    .social-container{
        display: flex;
        margin: 0 auto;
        flex-direction: row;
        width: 52%;
        min-width: 10rem;
        max-width: 16rem;
        justify-content: space-evenly;
    }

    .social-container > i, .heading-wraper *{
        color: #EAE3D2;
    }


    /*********** HEADING *************/

    .heading-wraper{
        width: 100%;
        margin: 0 auto;
        justify-content: center;
    }

    .heading-container{
        max-width: 16em;
        margin: 5em auto 2em;
        text-align: left;
        font-family: 'Sarabun', sans-serif;
        font-weight: 300;
    }

    .heading-container > p{
        font-size: 2.5rem;
        margin: 3px;
    }
    
    .line2-heading{
        padding-left: 1.8rem;
        margin-bottom: 0px;
    }
    
    .profesion{
        font-family: 'Sarabun', sans-serif;
        font-weight: 600;
        font-size: 1rem;
        margin-top: 5px;
        margin-bottom: 3px;
        margin-left: 1.7rem;
    }
    
    .junior{
        font-weight: 300;
    }

    .subject{
        font-family: 'Sarabun', sans-serif;
        font-size: 0.725rem;
        margin-top: 0px;
        margin-left: 8.2rem;
    }

    .separator{
     position: relative;
     margin-top: 0;
     left:80px;
      height: 1px;
      width: 8.1rem;
      background-color: #EAE3D2;
    }

    /******** QUOTE SECTION **********/

    .quote-wraper{
        width: 100%;
        margin: 0 auto;
    }
    
    .quote-container{
        margin: 0 auto 2rem;
        max-width: 16em;
        max-height: 100px;
        text-align: center;
        color: #EAE3D2;
    }

    .quote-container > h2{
        font-family: 'Fasthand', cursive;
        font-size: 1.1rem;
        font-weight: 300;
    }

    /********** NAVIATION BAR **********/

    /* .sections-wraper{
        width: 100%;
        margin: 100% auto 0;

        position: absolute;
        bottom: 0;
        left: 0;
    } */

    .main-navbar-wraper{
        width: 100%;
        padding: 0;
        margin: 100% auto 0;
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .navbar-container{
        display: flex;
        flex-direction: row;
        padding: 3px 3px 0;
        width: 100%;
        max-width: 750px;
        margin: 0 auto;
        justify-content: space-evenly;
    }
    
    .navbar-item-box{
       width: 32%;
       height: 1.8rem;
       text-align: center;
       border-top: solid 1px #EAE3D2;
       border-right: solid 1px #EAE3D2;
       border-left: solid 1px #EAE3D2;
    }

    .navbar-item-box > p{
        padding: 5px;
        font-size: 0.800em;
        color: #EAE3D2;
    }

    
    /********** NAVBAR SECTIONS *******/
    .secondary-navbar-wraper{
        position: relative;
        width: 100%;
        padding: 0;
        margin: 0 auto 3rem;
    }
    
    .secondary-navbar-wraper .navbar-item-box{
        width: 32%;
        height: 1.8rem;
        text-align: center;
        border-bottom: solid 1px #1C3879;
        border-right: solid 1px #1C3879;
        border-left: solid 1px #1C3879;
     }

     .secondary-navbar-wraper .navbar-container{
        padding-top: 0;
        padding-bottom: 3px;
     }

     .secondary-navbar-wraper .navbar-item-box > p{
        padding: 5px;
        font-size: 0.800em;
        color: #1C3879;
    }

    /*********** ME SECTION ***********/

    .section-wraper{
        position: relative;
        width: 100%;
        margin: 0 auto;
        background-color: #a3a3a3;
    }
    
    .section-container{
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        min-height: 100vh;
        background-color: #EAE3D2;
    }

    /* .me-container{
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        min-height: 100vh;
        background-color: #EAE3D2;
    } */

    .me-container, .hobbies-container{
        max-width: 630px;

    }

    .me-container > .section-content-container{
        letter-spacing: 1px;
        text-align: left;
        font-family: 'Sarabun', sans-serif;
        font-weight: 600;
        color: #1C3879;
        max-width: 470px;
    }

    .me-container > .section-content-container p{
        font-size: 1.050rem;
        letter-spacing: 1px;
        font-family: 'Sarabun', sans-serif;
        font-weight: 600;
        color: #1C3879;
    }

    .me-container > .section-content-container h6{
        font-size: 1.050rem;
        font-style: italic;
        margin: 3.2rem 1.8rem 2rem;
        letter-spacing: 1px;
        font-family: 'Sarabun', sans-serif;
        font-weight: 800;
        color: #1C3879;
    }
    

    /********* HOBBIES ****/

    .hobbies-title-container{
        max-width: 470px;
        margin: 3rem auto auto;
        padding-left: 1.7rem;
    }

    .hobbies-title{
        color: #1C3879;  
        margin-bottom: 3rem;
        font-size: 1.6rem;
    }

 .hobbies-container .row {
    margin-bottom: 2rem;
 }

 .hobbies-container .row .personality-quote{
    font-style: italic;
    text-align: center;
    letter-spacing: 1px;
    font-family: 'Sarabun', sans-serif;
    font-weight: 800;
    color: #1C3879;
    font-size: 1.1rem;
}

/************ PROJECTS SECTION */

.project-card{
    max-width: 410px;
    margin-bottom: 2rem;
}

.project-img{
    height: 165px;
    max-width: 230px;
    background-color: blueviolet;
}

.project-tech{
   max-width: 108px;
    background-color: brown;
}

.project-card h6{
    margin-bottom: 1rem;
    font-size:1.1rem;
}

.project-description{
    letter-spacing: 1px;
    margin-top: 1rem;
}

small{
    font-size: 1rem;
}

/******  BACKGROUND SECTION */

.background-container{
    max-width: 450px;
    color: #1C3879;

}

.course-container{
    font-size: 0.975rem;
    margin: 2.5rem auto 2.5rem;
    font-family: 'Sarabun', sans-serif;
    font-weight: 600;
    padding-right: 0;
}


.hospitality-container-wraper > p{
    font-size: 0.975rem;
    font-family: 'Sarabun', sans-serif;
    font-weight: 600;
    line-height: 1.4rem;
}

ul{
    padding-left: 7px;
}

.dots{}

.dot{
    width: 3px;
    height: 3px;
    margin: auto 3px;
    background-color: #a3a3a3;
}

/********* CONTACT SECTION ***/
.contact-wraper{
    margin: 0 auto;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #E6CBA8;
}

.contact-container{
max-width: 410px;
padding: 3rem 1.5rem;
min-height: 100vh;
}

.contact-container h3{
    text-align: center;
    color: #f1f1f1;
    font-family: 'Sarabun', sans-serif;
    font-size: 1.6rem;
    font-weight: 800;
    letter-spacing: 2px;
}

#contact-form{
    display: flex;
    flex-direction: column;
}

#contact-form .form-control{
    background-color: inherit;
    border-color: #1C3879;
    margin-bottom: 0.7rem;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 400;
    color: #1C3879;
    box-shadow: none;
}

#contact-form .form-control:focus{
    border: solid 2px;
}

.form-control::placeholder{
    font-size: 0.950rem;
    letter-spacing: 2px;
    font-style: italic;
    color: rgb(254, 234, 234);
}

#contact-form button{
    background-color: #001253;
    /* background-color: #1C3879; */
    border-color: #001253;
    /* color: rgb(255, 255, 255); */
    color: #f1f1f1;;
}

#contact-form button:hover{
    background-color: #f1f1f1;
    border-color: #fcfcfc;
    /* background-color: #1C3879; */
    color: #001253;
    font-weight: 600;
}

}

@media (min-width: 900px) {

    .main-wrapper{
        width: 100%;
        margin: 0 auto;
        min-height: 100%;
    }

    .social-wraper{
        width: 100%;
        margin: 3% auto auto;
    }

    .social-container{
        display: flex;
        margin: 0 auto;
        flex-direction: row;
        width: 60%;
        min-width: 11rem;
        max-width: 18rem;
        justify-content: space-evenly;
    }

    .social-container > i {
        font-size: 1.3rem;
    }

    .social-container > i, .heading-wraper *{
        color: #EAE3D2;
    }

    /*********** HEADING *************/

    .heading-wraper{
        width: 100%;
        margin: 0 auto;
        justify-content: center;
    }
    
    .heading-wraper .container-fluid{
        max-width: 37rem;
    }

    .heading-container {
        max-width: 18em;
        margin: 4em auto 2rem;
        text-align: left;
        font-family: 'Sarabun', sans-serif;
        font-weight: 300;
    }

    .heading-container > p{
        font-size: 3.6rem;
        margin: 3px;
    }
    
   
    .img-container{
        width: 230px;
        height: 160px;
        border-radius: 50%;
        background-image: url("https://res.cloudinary.com/dthlibbj7/image/upload/v1668343688/FORTALEZA_HOHENSALZBURG_20_iiqcmp.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: none;
    }
    

    .line2-heading{
        padding-left: 1.7rem;
        margin-bottom: 0px;
    }
    
    .profesion{
        font-family: 'Sarabun', sans-serif;
        font-weight: 600;
        font-size: 1rem;
        margin-top: 5px;
        margin-bottom: 3px;
        margin-left: 5.5rem;
    }
    
    .junior{
        font-weight: 300;
    }

    .subject{
        font-family: 'Sarabun', sans-serif;
        font-size: 0.700rem;
        margin-top: 0px;
        margin-left: 12.2rem;
    }

    .separator{
     position: relative;
     margin-top: 0;
     left:120px;
      height: 1px;
      width: 10rem;
      background-color: #EAE3D2;
    }
    

    .img-container{
        margin: 8rem auto auto;
        text-align: center;
    }

    /******** QUOTE SECTION **********/

    .quote-wraper{
        width: 100%;
        margin: 0 auto;
    }
    
    .quote-container{
        margin: 0 auto 2rem;
        max-width: 20em;
        max-height: 100px;
        text-align: center;
        color: #EAE3D2;
    }

    .quote-container > h2{
        font-family: 'Fasthand', cursive;
        font-size: 1.5rem;
        font-weight: 300;
    }

/******************* MAIN NAVBAR*/
    .navbar-container{
        display: flex;
        flex-direction: row;
        padding: 5px 3px 0;
        width: 100%;
        max-width: 880px;
        margin: 0 auto;
        justify-content: space-evenly;
    }
    
    .navbar-item-box{
       width: 32%;
       height: 2.5rem;
       text-align: center;
       border-top: solid 1px #EAE3D2;
       border-right: solid 1px #EAE3D2;
       border-left: solid 1px #EAE3D2;
    }

    .navbar-item-box > p{
        padding: 8px;
        font-size: 1em;
        font-weight: 400;
        color: #EAE3D2;
    }

    
    /********** SECONDARY NAVBAR *******/
    .secondary-navbar-wraper{
        position: relative;
        width: 100%;
        padding: 0;
        margin: 0 auto 3rem;
    }
    
    .secondary-navbar-wraper .navbar-item-box{
        width: 32%;
        height: 2.5rem;
        text-align: center;
        border-bottom: solid 1px #1C3879;
        border-right: solid 1px #1C3879;
        border-left: solid 1px #1C3879;
     }

     .secondary-navbar-wraper .navbar-container{
        padding-top: 0;
        padding-bottom: 3px;
     }

     .secondary-navbar-wraper .navbar-item-box > p{
        padding: 8px;
        font-size: 1em;
        color: #1C3879;
    }

    /************ ME SECTION */

    .section-wraper{
        position: relative;
        width: 100%;
        margin: 0 auto;
        background-color: #a3a3a3;
    }
    
    .section-container{
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        min-height: 100vh;
        background-color: #EAE3D2;
    }

    .me-container, .hobbies-container{
        max-width: 730px;

    }

    .me-container > .section-content-container{
        letter-spacing: 1px;
        text-align: left;
        font-family: 'Sarabun', sans-serif;
        font-weight: 600;
        color: #1C3879;
        max-width: 500px;
    }

    .me-container > .section-content-container p{
        font-size: 1.1rem;
        line-height: 2rem;
        letter-spacing: 1px;
        font-family: 'Sarabun', sans-serif;
        font-weight: 600;
        color: #1C3879;
    }

    .me-container > .section-content-container h6{
        line-height: 2rem;
        font-size: 1.1rem;
        font-style: italic;
        margin: 3.5rem 1.8rem 2rem;
        letter-spacing: 1px;
        font-family: 'Sarabun', sans-serif;
        font-weight: 800;
        color: #1C3879;
    }
    

    /********* HOBBIES ****/

    .hobbies-title-container{
        max-width: 470px;
        margin: 3rem auto 2.8rem;
        padding-left: 0;
    }

    .hobbies-title{
        color: #1C3879;  
        font-size: 1.6rem;
    }

 .hobbies-container .row {
    margin-bottom: 2.8rem;
 }

 .hobbies-container img{
    width: 65px;
    height: 65px;
 }

 .hobbies-container .row .personality-quote{
    font-style: italic;
    text-align: center;
    letter-spacing: 1px;
    font-family: 'Sarabun', sans-serif;
    font-weight: 800;
    color: #1C3879;
    font-size: 1.1rem;
}

/************ PROJECTS SECTION */


.projects-wraper{
    margin-top: 6rem;
}

.project-card{
    max-width: 900px;
    margin-bottom: 6rem;
    color:#1C3879;

}

.project-img{
    height: 200px;
    max-width: 370px;
    background-color: blueviolet;
}

.project-tech{
   max-width: 370px; 
   background-color: brown;
}

.project-tech-column{
    display: flex;
   justify-content: space-evenly;
 }


.project-tech img{
    width: 30px;
    height: 30px;
    margin: 0 auto;
 }

.project-card h6{
    margin-bottom: 1.5rem;
    font-size:1.7rem;
    /* color: #1C3879; */
    color: rgb(252, 252, 252);
    font-weight: 800;
}


.project-description{
    letter-spacing: 1px;
    margin-top: 4rem;
    font-weight: 600;
    color: #1C3879;
}

small{
    font-size: 1rem;
}

/******  BACKGROUND SECTION */

.background-container{
    max-width: 800px;
    color: #1C3879;

}

.course-container{
    font-size: 1rem;
    margin: 2.5rem auto 2.5rem;
    font-family: 'Sarabun', sans-serif;
    font-weight: 600;
    padding-right: 0;
}

.course-container ul li{
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.course-container ul span{
   font-weight: 400;
}

.course-container a{
    font-weight: 400;
}

.hospitality-container-wraper > p{
    font-size: 1.2rem;
    font-family: 'Sarabun', sans-serif;
    font-weight: 400;
    line-height: 1.8rem;
}

ul{
    padding-left: 7px;
}

.dots{}

.dot{
    width: 3px;
    height: 3px;
    margin: auto 3px;
    background-color: #a3a3a3;
}

/********* CONTACT SECTION ***/
.contact-wraper{
    margin: 0 auto;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #E6CBA8;
}

.contact-wraper img{
    width: 90px;
    height: 90px;
}

.contact-container{
max-width: 25rem;
padding: 3rem 1.5rem;
min-height: 100vh;
}

.contact-container h3{
    text-align: center;
    color: #f1f1f1;
    font-family: 'Sarabun', sans-serif;
    font-size: 1.9rem;
    font-weight: 800;
    letter-spacing: 2px;
}

#contact-form{
    display: flex;
    flex-direction: column;
}

#contact-form input{
    height: 2.5rem;
}

#contact-form textarea{
    height: 7rem;
}

#contact-form .form-control{
    background-color: inherit;
    border-color: #1C3879;
    margin-bottom: 0.8rem;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 400;
    color: #1C3879;
    box-shadow: none;
}

#contact-form .form-control:focus{
    border: solid 2px;
}

.form-control::placeholder{
    font-size: 0.950rem;
    letter-spacing: 2px;
    font-style: italic;
    color: rgb(254, 234, 234);
}

#contact-form button{
    background-color: #001253;
    /* background-color: #1C3879; */
    border-color: #001253;
    /* color: rgb(255, 255, 255); */
    color: #f1f1f1;
    height: 2.5rem;
}

#contact-form button:hover{
    background-color: #f1f1f1;
    border-color: #001253;
    /* background-color: #1C3879; */
    color: #001253;
    font-weight: 600;
}

}

@media (min-width: 1600px) {


    html {
        font-size: clamp(100.75%, 2.2vw, 125.25%);
        /** this says:
           set the minimun font size to around 16px
           and set the maximun font size to 22px */
      }
    
    .main-wrapper{
        width: 100%;
        margin: 0 auto;
        min-height: 100%;
        padding-top: 10%;
    }

    .social-wraper{
        width: 100%;
        margin: 5% auto auto;
    }

    .social-container{
        display: flex;
        margin: 0 auto;
        flex-direction: row;
        width: 100%;
        min-width: 11rem;
        max-width: 30rem;
        justify-content: space-evenly;
    }

    .social-container > i {
        font-size: 120%;
    }

    .social-container > i, .heading-wraper *{
        color: #EAE3D2;
    }

    /*********** HEADING *************/

    .heading-wraper{
        width: 100%;
        margin: 0 auto;
        justify-content: center;
    }
    
    .heading-wraper .container-fluid{
        max-width: 37rem;
    }

    .heading-container {
        max-width: 18em;
        margin: 4em auto 2rem;
        text-align: left;
        font-family: 'Sarabun', sans-serif;
        font-weight: 300;
    }

    .heading-container > p{
        margin: 3px;
    }
    
   
    .img-container{
        width: 240px;
        height: 170px;
        border-radius: 50%;
        background-image: url("https://res.cloudinary.com/dthlibbj7/image/upload/v1668343688/FORTALEZA_HOHENSALZBURG_20_iiqcmp.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: none;
    }
    

    .line2-heading{
        padding-left: 1.7rem;
        margin-bottom: 0px;
    }
    
    .profesion{
        font-family: 'Sarabun', sans-serif;
        font-weight: 600;
        font-size: 1rem;
        margin-top: 5px;
        margin-bottom: 3px;
        margin-left: 5.5rem;
    }
    
    .junior{
        font-weight: 300;
    }

    .subject{
        font-family: 'Sarabun', sans-serif;
        font-size: 0.700rem;
        margin-top: 0px;
        margin-left: 12.2rem;
    }

    .separator{
     position: relative;
     margin-top: 0;
     left:120px;
      height: 1px;
      width: 11rem;
      background-color: #EAE3D2;
    }
    

    .img-container{
        margin: 8rem auto auto;
        text-align: center;
    }

    /******** QUOTE SECTION **********/

    .quote-wraper{
        width: 100%;
        margin: 0 auto;
    }
    
    .quote-container{
        margin: 0 auto 2rem;
        max-width: 20em;
        max-height: 100px;
        text-align: center;
        color: #EAE3D2;
    }

    .quote-container > h2{
        font-family: 'Fasthand', cursive;
        font-size: 1.5rem;
        font-weight: 300;
    }

    /******************* MAIN NAVBAR*/
    .navbar-container{
        display: flex;
        flex-direction: row;
        padding: 5px 3px 0;
        width: 100%;
        max-width: 44rem;
        margin: 0 auto;
        justify-content: space-evenly;
    }
    
    .navbar-item-box{
       width: 32%;
       height: 2.5rem;
       text-align: center;
       border-top: solid 1px #EAE3D2;
       border-right: solid 1px #EAE3D2;
       border-left: solid 1px #EAE3D2;
    }

    .navbar-item-box > p{
        padding: 0.5rem;
    }

    
    /********** SECONDARY NAVBAR *******/
    .secondary-navbar-wraper{
        position: relative;
        width: 100%;
        padding: 0;
        margin: 0 auto 4rem;
    }
    
    .secondary-navbar-wraper .navbar-item-box{
        width: 32%;
        height: 2.5rem;
        text-align: center;
        border-bottom: solid 1px #1C3879;
        border-right: solid 1px #1C3879;
        border-left: solid 1px #1C3879;
     }

     .secondary-navbar-wraper .navbar-container{
        padding-top: 0;
        padding-bottom: 3px;
     }

     .secondary-navbar-wraper .navbar-item-box > p{
        padding: 0.4rem;
        font-size: 1em;
        color: #1C3879;
    }

    /************ ME SECTION */

    .section-wraper{
        position: relative;
        width: 100%;
        margin: 0 auto;
        background-color: #a3a3a3;
    }
    
    .section-container{
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        min-height: 100vh;
        background-color: #EAE3D2;
    }

    .me-container, .hobbies-container{
        max-width: 730px;
    }

    .me-container > .section-content-container{
        letter-spacing: 1px;
        text-align: left;
        font-family: 'Sarabun', sans-serif;
        font-weight: 600;
        color: #1C3879;
        max-width: inherit
    }

    .me-container > .section-content-container p{
        font-size: 1.1rem;
        line-height: 2rem;
        letter-spacing: 1px;
        font-family: 'Sarabun', sans-serif;
        font-weight: 600;
        color: #1C3879;
    }

    .me-container > .section-content-container h6{
        line-height: 2rem;
        font-size: 1.1rem;
        font-style: italic;
        margin: 3.5rem 1.8rem 2rem;
        letter-spacing: 1px;
        font-family: 'Sarabun', sans-serif;
        font-weight: 800;
        color: #1C3879;
    }
    

    /********* HOBBIES ****/

    .hobbies-title-container{
        max-width: inherit;
        margin: 2.5rem auto;
        padding-left: 0;
    }

    .hobbies-title{
        color: #1C3879;  
    }

 .hobbies-container .row {
    margin-bottom: 2.8rem;
 }

 .hobbies-container img{
    width: 3rem;
    height: 3rem;
 }

 .hobbies-container .row .personality-quote{
    font-style: italic;
    text-align: center;
    letter-spacing: 1px;
    font-family: 'Sarabun', sans-serif;
    font-weight: 800;
    color: #1C3879;
    font-size: 1.1rem;
}

/************ PROJECTS SECTION */

.projects-wraper{
    margin-top: 6rem;
}

.project-card{
    max-width: 1000px;
    margin-bottom: 7rem;
    color:#1C3879;

}

.project-img{
    /* height: 230px; */
    height:11rem;
    max-width: 17rem;
    background-color: blueviolet;
}

.project-tech{
    max-width: 17rem;
    background-color: brown;
}

.project-tech-column{
    display: flex;
   justify-content: space-evenly;
 }

.project-tech img{
    width: 32px;
    height: 32px;
    margin: 0 auto;
 }

.project-card h6{
    margin-bottom: 1.5rem;
    /* color: #1C3879; */
    color: rgb(252, 252, 252);
    font-weight: 800;
}


.project-description{
    letter-spacing: 1px;
    margin-top: 4rem;
    font-weight: 600;
    color: #1C3879;
}


/******  BACKGROUND SECTION */

.background-container{
    max-width: 1000px;
    color: #1C3879;
    padding-bottom: 6rem;
}

.course-container{
    font-size: 0.900rem;
    margin: 2.5rem auto 2.5rem;
    font-family: 'Sarabun', sans-serif;
    font-weight: 600;
    padding-right: 0;
    line-height: 1.6rem;
}

.course-container ul li{
    font-size: 1.1rem;
    line-height: 1.6rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.course-container ul span{
   font-weight: 400;
}

.course-container a{
    font-weight: 400;
}

.hospitality-container-wraper > p{
    margin-top: 3rem;
    font-size: 1.2rem;
    font-family: 'Sarabun', sans-serif;
    font-weight: 400;
    line-height: 1.8rem;
}

ul{
    padding-left: 7px;
}

.dots{}

.dot{
    width: 8px;
    height: 8px;
    margin: 2rem 10px;
    border-radius: 50%;
    background-color: #a3a3a3;
}

/********* CONTACT SECTION ***/
.contact-wraper{
    margin: 0 auto;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #E6CBA8;
}

.contact-wraper img{
    width: 110px;
    height:110px;
}

.contact-container{
max-width: 25rem;
padding: 3rem 1.5rem;
min-height: 100vh;
}

.contact-container h3{
    text-align: center;
    color: #f1f1f1;
    font-family: 'Sarabun', sans-serif;
    font-size: 1.9rem;
    font-weight: 800;
    letter-spacing: 2px;
}

#contact-form{
    display: flex;
    flex-direction: column;
}

#contact-form input{
    height: 2.5rem;
}

#contact-form textarea{
    height: 7rem;
}

#contact-form .form-control{
    background-color: inherit;
    border-color: #1C3879;
    margin-bottom: 0.8rem;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 400;
    color: #1C3879;
    box-shadow: none;
}

#contact-form .form-control:focus{
    border: solid 2px;
}

.form-control::placeholder{
    font-size: 0.950rem;
    letter-spacing: 2px;
    font-style: italic;
    color: rgb(254, 234, 234);
}

#contact-form button{
    background-color: #001253;
    /* background-color: #1C3879; */
    border-color: #001253;
    /* color: rgb(255, 255, 255); */
    color: #f1f1f1;
    height: 2.5rem;
}

#contact-form button:hover{
    background-color: #f1f1f1;
    border-color: #001253;
    /* background-color: #1C3879; */
    color: #001253;
    font-weight: 600;
}
}
