body {
    margin: 0;
    padding: 0;
    background-color: #1C3879;
}

@media (min-width: 320px) {

    .main-wrapper{
        width: 100%;
        margin: 0 auto;
        min-height: 100%;
    }

    .social-wraper{
        width: 100%;
        margin: 7% auto auto;
        min-height: 100%;
    }

    .social-container{
        display: flex;
        margin: 0 auto;
        flex-direction: row;
        width: 50%;
        min-width: 10rem;
        max-width: 13rem;
        justify-content: space-evenly;
    }

    .social-container > i, .heading-wraper *{
        color: #EAE3D2;
    }


    /*********** HEADING *************/

    .heading-wraper{
        width: 100%;
        margin: 0 auto;
        justify-content: center;
    }

    .heading-container{

        max-width: 15em;
        margin: 5em auto 2em;
        text-align: left;
        font-family: 'Sarabun', sans-serif;
        font-weight: 300;
    }

    .heading-container > p{
        font-size: 2.3rem;
        margin: 3px;
    }
    
    .line2-heading{
        padding-left: 1.7rem;
        margin-bottom: 0px;
    }
    
    .profesion{
        font-family: 'Sarabun', sans-serif;
        font-weight: 600;
        font-size: 1rem;
        margin-top: 5px;
        margin-bottom: 3px;
        margin-left: 1.6rem;
    }
    
    .junior{
        font-weight: 300;
    }

    .subject{
        font-family: 'Sarabun', sans-serif;
        font-size: 0.700rem;
        margin-top: 0px;
        margin-left: 8.2rem;
    }

    .separator{
     position: relative;
     margin-top: 0;
     left:80px;
      height: 1px;
      width: 8rem;
      background-color: #EAE3D2;
    }

    /******** QUOTE SECTION **********/

    .quote-wraper{
        width: 100%;
        margin: 0 auto;
    }
    
    .quote-container{
        margin: 0 auto 2rem;
        max-width: 15em;
        max-height: 100px;
        text-align: center;
        color: #EAE3D2;
    }

    .quote-container > h2{
        font-family: 'Fasthand', cursive;
        font-size: 1rem;
        font-weight: 300;
    }

    /********** NAVIATION BAR **********/

    /* .sections-wraper{
        width: 100%;
        margin: 100% auto 0;

        position: absolute;
        bottom: 0;
        left: 0;
    } */
    .nav-bar-wraper{
        width: 100%;
        padding: 0;
        margin: 100% auto 0;
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .nav-bar-container{
        display: flex;
        flex-direction: row;
        padding: 3px 3px 0;
        width: 100%;
        margin: 0 auto;
        justify-content: space-evenly;
    }
    
    .navbar-item-box{
       width: 32%;
       height: 1.7rem;
       text-align: center;
       border-top: solid 1px #EAE3D2;
       border-right: solid 1px #EAE3D2;
       border-left: solid 1px #EAE3D2;
    }

    .navbar-item-box > p{
        padding: 4px;
        font-size: 0.750em;
        color: #EAE3D2;
    }


    /*********** ME SECTION ***********/


    
    .section-wraper{
        position: relative;
        width: 100%;
        margin: 0 auto;
        background-color: #a3a3a3;
    }

    .me-section{
        position: absolute;
        top: 0;
        left: 0;
        min-height: 100vh;
        background-color: #EAE3D2;
    }
}

@media (min-width: 600px) {

}

@media (min-width: 900px) {
}

@media (min-width: 1200px) {

}



/* @media (min-width: 320px) {
    body{
        background-color: antiquewhite;
    }

    .main-wraper{
        background-color: aquamarine;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        min-height: 90%;
        text-align: center;
    }

    .section{
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        background-color: rgb(36, 113, 87);
        height: 50%;
        text-align: center;

    }

    .custom{
        width: 50%;
        background-color: rgb(0, 54, 36);
        height: 90%;
        font-size: 5em;
        color: white;

    }
}

@media (min-width: 600px) {
    body{
        background-color: antiquewhite;
    }

    .main-wraper{
        background-color: aquamarine;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        min-height: 90%;
        text-align: center;

    }

    .section{
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        background-color: rgb(36, 113, 87);
        height: 50%;
        text-align: center;

    }

    .custom{
        width: 50%;
        background-color: rgb(0, 54, 36);
        height: 90%;
        font-size: 10em;
        color: white;

    }
}

@media (min-width: 900px) {
    body{
        background-color: antiquewhite;
    }

    .main-wraper{
        background-color: aquamarine;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        min-height: 90%;
        text-align: center;

    }

    .section{
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        background-color: rgb(36, 113, 87);
        height: 50%;
        text-align: center;

    }

    .custom{
        width: 50%;
        background-color: rgb(0, 54, 36);
        height: 90%;
        font-size: 15rem;
        color: white;

    }
}

@media (min-width: 1200px) {
    body{
        background-color: antiquewhite;
    }

    .main-wraper{
        background-color: aquamarine;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        min-height: 90%;
        text-align: center;

    }

    .section{
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        background-color: rgb(36, 113, 87);
        height: 50%;
        text-align: center;
        text-align: center;
    }

    .custom{
        min-width: 50%;
        max-width: 700px;
        margin-right: auto;
        margin-left: auto;
        background-color: rgb(0, 54, 36);
        height: 90%;
        font-size: 15em;
        color: white;

    }
} */